<div class="container">
    <form method="GET" action="/search">
    Search a marvel character:
    <br>
    <label for="charName">Character Name:</label>
    <input type="text" name="charName" id="charName">

    <button type="submit">Search</button>
    </form>
</div>